body{
    background-color: rgb(59, 59, 139);
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 15pt;
}

section{
    background-color: white;
    height: 400px;
    width: 400px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.548);
    color: black;
}

footer{
    font-style: italic;
}
img{
    padding-top: 40px;
}